@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 358 100% 66%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    /* --radius: 0.5rem; */
    --radius: 0rem;

    /* NEOBRUTALISM */

    --main: #88aaee;
    --overlay: rgba(
      0,
      0,
      0,
      0.8
    ); /* background color overlay for alert dialogs, modals, etc. */

    --bg: #dfe5f2;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #ff545a;

    --text: #000;
    --mtext: #000; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;

    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;

    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  .dark {
    --background: 334 10% 5%;
    --foreground: 334 0% 90%;
    --card: 334 0% 0%;
    --card-foreground: 334 0% 90%;
    --popover: 334 10% 5%;
    --popover-foreground: 334 0% 90%;
    --primary: 358 100% 66%
    --primary-foreground: 0 0% 100%;
    --secondary: 334 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 296 10% 15%;
    --muted-foreground: 334 0% 60%;
    --accent: 296 10% 15%;
    --accent-foreground: 334 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 334 0% 90%;
    --border: 334 20% 18%;
    --input: 334 20% 18%;
    --ring: 334 64% 45%;
    --radius: 0rem;

    /* NEOBRUTALISM */
    --bg: #272933;
    --bw: #212121;
    --blank: #fff;
    /*--border: #ff545a;*/
    --text: #e6e6e6;
    --mtext: #000;
    --ring: #fff;
    --ring-offset: #000;
    --main: #88aaee;

    /*--shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);*/
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

* {
  @apply border-border ;
}

